.header {
    padding: 15px 2rem 15px 1.75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f8f8f8;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.projectTitle {
    font-family: "Sixtyfour", sans-serif;
    color: #093145;
    font-size: 1.45em;
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
}

.navigation ul {
    list-style: none;
    font-weight: bold;
    color: #093145;
    display: flex;
    flex-direction: row;
    gap: .2rem;
}

.navigationList {
    padding: .2rem .1rem;
}

.navigationList:first-child {
    border-bottom: 1px solid green;

}

.navigationList span {
    border-bottom: 1px solid transparent;
}

/* .navigationList:hover {
    font-weight: bold;
    cursor: pointer;
    border-bottom: 1px solid green;
} */

.profileBurger svg {
    cursor: pointer;
    color: #093145;
}

.modalContainer {
    bottom: -5rem;
    right: .45rem;
    position: absolute;
    padding: .85rem 1rem;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f8f8f8;
}

.modalContainer p {
    color: #093145;
    font-size: .9rem;
    font-weight: 700;
    margin-bottom: .5rem;
}

.logoutButton {
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    padding: .6rem .8rem;
}

@media only screen and (max-width: 500px) {
    .navigation ul {
        display: none;
    }

    .projectTitle {
        font-size: 1.25em;
    }

}