section {
    padding: 2rem;
    margin-bottom: 2rem;
}

.add-note-form {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-bottom: 1rem;
}

.note-input {
    border: 1px solid #ABABAB;
    padding: .75rem;
    border-radius: 5px;
    resize: none;
    font-weight: bold;
}

.submit-button {
    border: none;
    border-radius: 5px;
    background-color: #000;
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    padding: .6rem .8rem;
    margin-top: .2rem;
    margin-bottom: .75rem;
}

.color-options {
    width: 200px;
}

.color-label {
    font-size: .8rem;
    color: #333;
    margin-bottom: 0.5rem;
}

.color-palette {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: .3rem;
}

.color-tag {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid grey;
}

.color-tag:hover {
    cursor: pointer;
}

/* note as here */
.notes-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border-top: 1px solid #efececc2;
    padding: 1.15rem 0;
}

.note-item {
    min-height: 70px;
    overflow-wrap: break-word;
    border: 1px solid #ABABAB;
    padding: .7rem;
    border-radius: 5px;
    font-size: 0.85rem;
}

.note-item-skelton {
    width: 345px;
    height: 57.6px;
}

.note-content-box {
    width: 100%;
    margin-bottom: .5rem;
}

.note-content {
    font-size: .9rem;
    color: #333;
}

.note-icon-box {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-left: .5rem;
}

.note-icon-box svg,
.note-icon-eye svg {
    color: #ABABAB;
}

.note-icon-box svg:hover {
    cursor: pointer;
    color: #000;
}

.note-icon-eye {
    display: flex;
    align-items: center;
    gap: .25rem;
    margin-left: auto;
}

.note-icon-eye span {
    color: #ABABAB;
    font-size: .6rem;
}


@media only screen and (max-width: 600px) {
    .notes-list {
        flex-direction: column;
    }

    .note-item {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .notes-list {
        gap: 1rem;
    }

    .note-item {
        width: calc(50% - 0.5rem);
    }
}

@media only screen and (min-width: 1025px) {
    .notes-list {
        gap: 1.2rem;
    }

    .note-item {
        width: 349px;
    }
}